---
layout: default
title: Insights
---

<section id="hero">
  <div>
      <h1>{{ "Insights" | upcase }}</h1>
      <p>Insights <em>caseros</em> sobre UX y Desarrollo web</p>
  </div>
</section>

<section id="categories">
  <ul>
    <li class="current">todos</li>
  {% for category in site.categories %}
    <li>{{ category[0] }}</li>
  {% endfor %}
  </ul>
</section>

<section id="last-posts">
  Categorías: Design
  <ul>
      {% for post in site.categories.design %}
          <li>
              <div class="image-post">
                  {% assign foundImage = 0 %}
                  {% assign images = post.content | split:"<img " %}
                  {% for image in images %}
                      {% if image contains 'src' %}
                          {% if foundImage == 0 %}
                          {% assign html = image | split:"/>" | first %}
                          <a href="{{ post.url }}"><img {{ html }} /></a>
                          {% assign foundImage = 1 %}
                      {% endif %}
                      {% endif %}
                  {% endfor %}
              </div>
              <div class="info-post">
                  <h3>
                      <a href="{{ post.url }}">{{ post.title }}</a>
                  </h3>
                  <span>{{ post.categories | join: ', ' }}</span>
                  <!--{{ post.excerpt }}-->
              </div>
          </li>
      {% endfor %}
  </ul>
</section>