---
layout: default
title: Home
---


    <section id="intro">
        <div class="intro-text">
            <h1>{{ "👨‍🚀 <br>Insights caseros sobre UX y Desarrollo web" }}</h1>
            <p>Insights caseros sobre UX y Desarrollo web bright green or golden flesh with rows of tiny,
                black, edible seeds. The fruit has a soft texture, with a sweet and unique flavor.</p>
        </div>
    </section>

    <section id="last-posts">
        <span class="small-titles">{{ "✍️ los más recientes" | upcase }}</span>
        <ul>
            {% for post in site.posts limit: 6 %}
            <li>
                {% include post-item.html %}
            </li>
            {% endfor %}
        </ul>
        <a href="/blog" class="btn cta-primary">Ver más insights</a>
    </section>