---
layout: default
title: Xavi Puig Portfolio
---


<div class="container-fluid introbg">
    <div class="container p-0">
        <section id="intro">
            
        </section>
    </div>
</div>

<div class="container-fluid" style="display: none;">
    <div class="container p-0">
        <section id="last-posts" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <h2>Casos de estudio</h2>
            <p>A partir de aquí presento los que serían los <strong>trabajos más representativos</strong> de lo que puedo ofrecer como diseñador de producto.</p>
            <ul>
                {% for post in site.posts limit: 6 %}
                <li>
                    {% include post-item.html %}
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>

