<section id="education">
    <h2>Education</h2>
    <div class="list-grid">
        <li>
            <h5>UX-PM International Certification @ UXalliance</h5>
            <span class="date">2021</span>
            <p>Design Research. Research Methodology with quantitative and qualitative methods.</p>
        </li>
        <li>
            <h5>Design Research @ UXER School</h5>
            <span class="date">2019</span>
            <p>Design Research. Research Methodology with quantitative and qualitative methods.</p>
        </li>
        <li>
            <h5>Interaction & Usability @ UOC</h5>
            <span class="date">2018</span>
            <p>Postgraduate specialization oriented to the user experience.</p>
        </li>
        <li>
            <h5>Gráfica Publicitaria</h5>
            <span class="date">2006 - 2010</span>
            <p>Higher Grade of Gráfica Publicitaria. Included year of specialization.</p>
        </li>
        <li>
            <h5>Editorial Design @ Seeway</h5>
            <span class="date">2005 - 2006</span>
            <p>Specialization in Editorial Design and related software such as Adobe Indesign or QuarkXpress.</p>
        </li>
    </div>
</section>