<div class="row d-flex justify-content-between">

    <div class="item_footer social-networks">
      <ul>
        <li>
            Made with ❤️✋
        </li>
        <li>
            <a href="https://www.linkedin.com/in/xavipuighernandez/" target="_blank">Linkedin</a>
        </li>
        <li>
            <a href="https://www.behance.net/xavipuig" target="_blank">Behance</a>
        </li>
        <li>
            <a href="https://dribbble.com/xavipuig" target="_blank">Dribbble</a>
        </li>
      </ul>
    </div>
    
    <div class="item_footer resume">
        <a href="/assets/resume_xavipuig.pdf" target="_blank">Download my resume</a>
    </div>

</div>