<div class="newsletter">
    <span>Si te interesa lo que escribo, tal vez te gustaría enterarte de las novedades.</span>
    <a href="https://twitter.com/xavipuigh" class="btn cta-secondary" target="_blank">Sígueme en Twitter</a>
</div>

<div class="row d-flex justify-content-between">

    <div class="item_footer">
      <ul>
        <li>
            <a href="https://www.linkedin.com/in/xavipuighernandez/" target="_blank">Linkedin</a>
        </li>
        <li>
            <a href="https://www.behance.net/xavipuig" target="_blank">Behance</a>
        </li>
        <li>
            <a href="https://dribbble.com/xavipuig" target="_blank">Dribbble</a>
        </li>
      </ul>
    </div>
    
    <div class="item_footer">
        <span style="margin: 0 0 0 1rem;">Copyright 2020</span>
    </div>

</div>