<nav class="navbar navbar-light justify-content-between">
  <a id="logo" href="/">
    Xavi Puig
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      {% for item in site.data.navigation %}
        <li class="nav-item">
          <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
   </ul>
  </div>
</nav>