<nav class="navbar navbar-light justify-content-between">
  <a id="logo" href="/">
    <!-- <img src="/assets/img/monkey.svg" alt="Logo"> -->
    xavipuig.me
  </a>
  <div >
    <ul class="navbar-nav">
     <!--  <li class="nav-item">
        <a href="about">About me</a>
      </li> 
       <!--  {% for item in site.data.navigation %}
      <li class="nav-item">
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
        {{ item.name }}
        </a>
      </li>
      {% endfor %} -->
   </ul>
  </div>
</nav>