<nav class="navbar navbar-light justify-content-between">
  <a id="logo" href="/"  style="flex-basis: auto;">
    Xavi Puig
  </a>
  
  <div class="collapse navbar-collapse" id="navbarText" style="flex-basis: auto">
    <ul class="nav navbar-nav navbar-right" style="justify-content: flex-end;">
      {% for item in site.data.navigation %}
        <li class="nav-item">
          <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
   </ul>
  </div>
  <button class="navbar-toggler"  style="flex-basis: auto;" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>