/*------------------------------------------------------
COLORES
------------------------------------------------------*/

$main-bg:#023DA5;
$c-base: #FFF;
$c-grey: rgba(0,0,0,.4);
$c-light: #E8ECEB;
$c-hero: yellow;
$theme-gradient: linear-gradient(145deg,#FF512F,#DD2476);

$c-1: #FFD0BD;
$c-2: #FFE1B2;
$c-3: #F8F0D3;
$c-4: #DFEDF2;
$c-5: #E4E7F3;
$c-6: #DFECD8;

/*------------------------------------------------------
BREAKPOINTS
------------------------------------------------------*/

$mq-mobile: 480px;
$mq-tablet: 768px;
$mq-desktop: 1200px;

/*------------------------------------------------------
TIPOGRAFÍA
------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Stratos LC Web';
    src: url('/assets/fonts/StratosLCWeb-Regular.woff2') format('woff2'),
        url('/assets/fonts/StratosLCWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos LC Web';
    src: url('/assets/fonts/StratosLCWeb-Bold.woff2') format('woff2'),
        url('/assets/fonts/StratosLCWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos LC Web';
    src: url('/assets/fonts/StratosLCWeb-Medium.woff2') format('woff2'),
        url('/assets/fonts/StratosLCWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos LC Web';
    src: url('/assets/fonts/StratosLCWeb-Light.woff2') format('woff2'),
        url('/assets/fonts/StratosLCWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

$f-heading: 'Rubik',serif;
$f-base: 'Stratos LC Web', sans-serif;

$f-size-s: .8rem;
$f-size-m: .9rem;
$f-size-l: 1rem;
$f-size-xl: 1.2rem;
$f-size-xxl: 2rem;
$f-size-xxxl: 3rem;