/*------------------------------------------------------
COLORES
------------------------------------------------------*/

$main-bg:#FFFFFF;
$c-base: #222F3E;
$c-grey: rgba(255,255,255,.4);
$c-light: #E8ECEB;
$c-hero: #FFD66B;
$c-link: #4433ff;
$theme-gradient: linear-gradient(145deg,#FF512F,#DD2476);

$c-1: #FFD0BD;
$c-2: #FFE1B2;
$c-3: #F8F0D3;
$c-4: #DFEDF2;
$c-5: #E4E7F3;
$c-6: #DFECD8;

/*------------------------------------------------------
BREAKPOINTS
------------------------------------------------------*/

$mq-mobile: 480px;
$mq-tablet: 768px;
$mq-desktop: 1200px;

/*------------------------------------------------------
TIPOGRAFÍA
------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$f-base: 'Karla',sans-serif;

$f-size-s: .8rem;
$f-size-m: .9rem;
$f-size-l: 1.4rem;
$f-size-xl: 1.6rem;
$f-size-xxl: 2.6rem;
$f-size-xxxl: 3rem;
$f-size-huge: 8rem;