@import "vars";

.container-fluid {
    padding: 0;
}

.navbar-dark .navbar-toggler {
    border:0;
    color: white;
}

body {
    font-family: $f-base;
    background: $main-bg;
    color:white;
}

h1, h2, h3, h4 {
    font-family: $f-light;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: $primary;
    &:hover {
        text-decoration: none;
        color: white;
    }
}

nav {
    a {
        margin: 0 0.6rem;
        color:white;
        &:hover {
            color: $primary;
        }
    }
    .current {
        color: $primary;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#home {
    margin: 3rem 0;
    @media (min-width: $mq-tablet) {
        margin: 10rem 0;
    }
}

.home_posts {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    margin:2rem 0 4rem;
    @media (min-width: $mq-tablet) {
        -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    }
}

footer {
    text-align: center;
    padding: 1rem;
}