:root {
    --opacidad-nav: 0;
}

/*------------------------------------------------------
IMPORTS
------------------------------------------------------*/

@import "vars";

/*------------------------------------------------------
BASICS
------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: normal;
    color: $c-base;
}

.wrapper {
    overflow: hidden;
}

.container {
    padding: 0 30px;
    @media (min-width: $mq-desktop),(min-width: $mq-tablet) {
        max-width: 1150px !important;
    }   
}

.container-fluid {
    padding: 0 30px;
    @media (min-width: $mq-desktop),(min-width: $mq-tablet) {
        padding: 0 50px;
    }  
}

body {
    background-color: $main-bg;
    font-family: $f-base;
    font-size: $f-size-l;
    color: $c-base;
    
}

header {
    width: 100%;
    padding: 2rem 0;
    opacity: var(--opacidad-logo);
    position: fixed;

    .navbar {
        padding: 0;
    }

    #logo {
        top: 3rem;
        left: 5rem;
        font-size: $f-size-l;
        color: $c-base;
        border: none;
        font-weight: 800;

        @media (min-width: $mq-desktop),(min-width: $mq-tablet) {
            font-size: $f-size-l;
        }  
    }

    .navbar-brand {
        margin: 0;
        font-weight: 400;

        img {
            max-width: 5%;
        }
    }

    .navbar-light .navbar-brand {
        color: #fff;
        font-weight: 600;
        &:hover {
            text-decoration: none;
            color: $c-link;
        }
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        margin:0;
            @media (min-width: $mq-desktop) {
                li {
                   
                    
                    a {
                        color: $c-base;
                        padding: .6rem 1rem .7rem;
                        /* border: 2px solid $c-hero; */
                        /* border-radius: 25rem; */
                        font-size: $f-size-l;
                        border-bottom: none;
                        &:hover {
                            /* background: $c-hero;
                            border: 2px solid $c-hero; */
                            color: $c-link;
                        }
                    }
                }
            }
    }

  
}

.btn-primary {
    background-color: $c-link;
    border:none;
    border-radius: 0.375rem;
    padding: 1rem 2rem;
    font-weight: 600;
    transition: 0.3s;
    width: 100%;

    @media (min-width: $mq-desktop),(min-width: $mq-tablet) {
        width: auto; 
    }
   
    &:after {
        transition: 0.3s;
        margin-left: 0rem;
        content: " ";
    }

    &:hover { 
        background-color: $c-link-hover; 
        font-weight: 600;
        &:after {
            margin-left: 1rem;
            content: "→";
        }
    }
}

a {
    text-decoration: none;
    color: $c-base;
    font-weight: 800;
    &:hover {
        text-decoration: none;
        color: $c-link-hover;
    }
}

h3 {
    font-family: $f-base;
}

ul {
    margin: 2rem 1rem;
    padding: 0;
}

hr {
    border-top: 3px solid $c-base;
    opacity: .1;
    margin: 3rem 0 2rem;

    @media (min-width: $mq-desktop),(min-width: $mq-tablet) {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
}

.cta-primary {
    font-size: $f-size-xl !important;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    color: $main-bg;
    font-weight: 500;
    width: 100%;
    padding: .8rem 1rem;
    border-radius: 0;
    transition: 0.3s ease-out;
    border-radius: 50rem;
    text-transform: uppercase;
    letter-spacing: .2rem;

    @media (min-width: $mq-desktop),(min-width: $mq-tablet) {
        width: auto;
        padding: .8rem 2rem;
    }

    &:hover {
        color: $main-bg;
        background: $c-base;
        text-decoration: none;
        opacity: .8;
    }
}

.cta-secondary {
    @extend .cta-primary;
    background: $main-bg;
    color: $c-base;
    border: 2px solid $c-base;
}

.small-titles {
    font-size: $f-size-xl;
    font-weight: 600;
    color: $c-base;
}

footer {
    padding: 2rem 0;

    ul {
        margin: 0;
    }

   

    .newsletter {
        background: $c-4;
        font-size: $f-size-xl;
        padding: 2rem;
        border-radius: .5rem;
        margin-bottom: 3rem;
        display: none;
        
        span {
            display: block;
            margin-bottom: 1.5rem;
        }
    }

    li {
        display: inline-block;
        margin: 0 1rem 0 0;
    }

    .row {
        margin:0;
    }

    @media (max-width: $mq-tablet) {
        .item_footer {
            margin-bottom: 2rem;
        }
    }
}

blockquote {
    border-left: 3px solid $c-base;
    padding-left: 1rem;
    font-style: italic;
}

h4 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.bg-primary {
    background-color: $c-base !important;
}

/*------------------------------------------------------
INDEX SECTIONS
------------------------------------------------------*/

.introbg {
    background-color: #fff;
}

#intro {
    display: flex;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
    flex-direction: column;
    
    @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
        margin: auto;
        padding-bottom: 5rem;
        flex-direction: row;
        height: 100vh;
    }

    .intro__text {
        position: relative;

        h1 {
            font-family: $f-base;
            font-size: max(4.2vw, 50px);
            margin: 0 0 2rem;
            letter-spacing: -.09rem;
            color: $c-base;
            /* background: $theme-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block; */

            @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
                letter-spacing: -.15rem;
            }
        }

        p {
            margin-bottom: 3rem;
            font-size: $f-size-l;
        }
    }

    .intro__image {
        display: block;
        margin: 0;

        @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
            margin: 0 0 0 7rem;
        }
    }

    .intro__image__mbl {
        width: 100%;
        @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
            display: none;
        }
    }
}

#last-posts {
    margin-top: 3rem;
    
    h2 {
        font-size: $f-size-l;
        font-weight: 800;
    }

    @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 7rem;
    }

    ul {
        margin:2rem 0;
        display: -ms-grid;
        display: grid;
        grid-gap: 2rem;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;

        @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }

        li {
            display: block;

            .image-post {
                width: 30%;
                margin: 0rem 1rem 1rem 0;

                @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
                    margin: 0rem 2.5rem 2.5rem 0;
                }

                img {
                    width: 100%;
                }   
            }

            .info-post {
                display: block;

                h3 {
                    font-size: $f-size-l;
                    margin-top: 1.5rem;
                    font-weight: 800;
                    
                    @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
                        font-size: $f-size-l;
                    }
                }

                p {
                    
                    @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
                        display:block;
                        font-size: $f-size-l;
                    }
                }

                h6 {
                    @media (min-width: $mq-desktop) {
                        display: none;
                    }
                }
            }
            
            .action-post {
                display: none;
                border-left: 1px solid $c-light;
                min-width: 200px;
                position: relative;

                img {
                    height: 3rem;
                    position: absolute;
                    bottom: 3rem;
                    right: 0;
                }
            }
        }
    }
}

#related-posts {
    @extend #last-posts;
    border-top: 1px solid $c-light;
    padding-top:2rem;
    margin-top: 5rem;
    max-width: 100%;

    ul {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
    
        li {
            p {
                display: block !important;
            }

            .image-post {
                margin: 0rem 2.5rem 0rem 0;
            }
        }
    
    }
}

/*------------------------------------------------------
SECCIONES BLOG
------------------------------------------------------*/

#title-page {
    margin-top: 2rem;
}

#categories {
    li {
        display: inline-block;
        background-color: $c-light;
        font-size: $f-size-s;
        font-weight: 500;
        border-radius: 1rem;
        padding: .3rem .6rem;
        text-transform: uppercase;   
    }
    .current {
        background-color: $c-base;
        color: $main-bg;
    }
}

#blog-list {
    @extend #last-posts;

    ul {
        margin: 0 0 2rem;
        display: -ms-grid;
        display: grid;
        grid-gap: 2rem;
        -ms-grid-columns: auto;
        grid-template-columns: auto;

        @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
            -ms-grid-columns: auto auto;
            grid-template-columns: auto auto; 
        }
    }

    p { 
        @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
            display:block;
            color: $c-grey;
        }
    }
}

/*------------------------------------------------------
SECCIONES POST
------------------------------------------------------*/

#post-page {
    padding-top: 4rem;

    @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
        padding-top: 7rem;
    }

    .post-title {
        margin: 2rem 0 1rem;
        font-size: $f-size-xxl;

        @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
            margin: 2rem 0 3rem;
            font-size: $f-size-xxxl;
        }
    }

    .post-content {
        img {
            width: 100%;
            margin: 1rem 0;
        }
    }

    .about-widget {
        background: $c-light;
        padding: 1rem;
        border-radius: .3rem;
        margin-bottom: 2.5rem;

        p {
            font-size: $f-size-m;
            margin-top: .5rem;
            margin-bottom: 0;
        }
    } 
}

/*------------------------------------------------------
SECCIONES ABOUT
------------------------------------------------------*/

#about {
    margin: 2rem 0;

    h1 {
        font-size: max(4vw, 30px);
    }

    @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
        /* max-width: 70%;
        margin: auto; */
        margin-top: 10rem;
    }

    img {
        width: 100%;
        margin-bottom: 2rem;

        @media (min-width: $mq-tablet),(min-width: $mq-desktop) {
            max-width: 600px;
        }
    }

    #experience {
        margin: 3rem 0;
    }

    #education {
        margin: 3rem 0;
    }
}

iframe {
    border-radius: .5rem;
    box-shadow: 0 3rem 3rem rgba(0,0,0,.06);
    margin: 2rem 0;
}

.list-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
    gap: 30px;

    @media (min-width: $mq-desktop) { 
        grid-template-columns: 33% 33% 33%;
    }

    li {
        list-style: none;      
    }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}