---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>

<!--<img src="{{ page.featured_img }}" class="cover">-->

<p class="info-post">

  <span>{{ page.categories }}</span>
  <!--{{ page.date | date_to_string }}

  {% assign author = site.authors | where: 'short_name', page.author | first %}
    {% if author %}
      - <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}-->
</p>

{{ content }}

<div id="related-posts">

  {% unless page.categories == null %}
  {% capture pageCategories %}{{ page.categories }}{% endcapture %}
  {% unless site.categories[pageCategories].size == 1 %}

  <span class="small-titles">{{ "Insights relacionados" | upcase }}</span>
  <ul>
    {% for post in site.categories[pageCategories] limit:3 %}
    {% unless post.title == page.title %}
    <li>
      <div class="image-post">
                {% assign foundImage = 0 %}
                {% assign images = post.content | split:"<img " %}
                {% for image in images %}
                    {% if image contains 'src' %}
                        {% if foundImage == 0 %}
                          {% assign html = image | split:"/>" | first %}
                          <a href="{{ post.url }}"><img {{ html }} /></a>
                          {% assign foundImage = 1 %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
      <div class="info-post">
        <h3>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <span>{{ post.categories | join: ', ' }}</span>
      </div>
    </li>
    {% endunless %}
    {% endfor %}
  </ul>

{% endunless %}
{% endunless %}

</div>